$foreground: #D0D2D1;
$background: #27292C;
$red: #CC6666;
$green: #B5BD68;
$yellow: #F0C674;
$blue: #93B2CA;
$magenta: #B294BB;
$cyan: #8ABEB7;
$white: #FFFFFF;
$black: #000000;

$text-size: 18px;
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: $text-size;
    color: $foreground;
    background: $background;
    padding: 0 10px;
}
h1,h2,h3{ 
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
}
.title {
    font-size: $text-size * 3.5;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.footer {
    font-size: $text-size / 1.5;
}
.icon {
    fill: $foreground;
}
.octicon {
    fill: $foreground;
}
a {
    text-decoration: none;
    color: inherit;
}
.accent {
    color: $green;
}

.inline-svg {
    display: inline-block;
    height: 1.15rem;
    width: 1.15rem;
    top: 0.15rem;
    position: relative;
}